<div id="main-left-wrapper">
  <h2><%= t('.sweden_architect_applications') %></h2>
  <p><%= t('.choose_your_category') %></p>
  <% count = 0 %>
  <div id="project_type_container" class="clearfix">
    <div class="category_column">
    <% @categories.each do |cat| %>
            <%count += cat.subcategories.count%>
            <% if count  >= @row_in_column + 1 %>
              </div>
              <div class="category_column">
              <% count = 0 %>
            <% else %>
              <% count.next %>
            <% end %>
      <div class="project_type">
        <div class="hover-title clearfix">
          <a href="<%= new_offer_path(:category_id => cat.id) %>"><%= cat.name %></a>
        </div>
        <% if cat.icon.present? %>
          <a href="<%= new_offer_path(:category_id => cat.id) %>">
            <%= image_tag "project_type/#{cat.icon}" %>
          </a>
        <% end %>
        <% cat.subcategories.each do |subcat| %>
            <div class="subcategory_type">
              <div class="hover-title clearfix">
                <%= form_tag(quote_details_path) do %>
                  <%= hidden_field_tag "subcategory_id", subcat.id %>
                  <%= submit_tag subcat.name %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

  <!--
  <div class="clearfix" style="float: right;">
    <a href="#" class="button"><%= t('.forward') %></a>
  </div>
  -->
</div>

<div id="main-right-wrapper">

  <%= render "layouts/how_does_it_work"%>

  <div class="clr"><br><br><br></div>

  <%= render "layouts/latest_news"%>

  <div class="clr"><br><br><br></div>

  <%= render "layouts/top_providers"%>

</div>
<div class="clr"></div>