<div id="main-left-wrapper">
	<div class="article_left_body">		
	
		<h2><%= @article.title %></h2>
		<p>
		    <%= image_tag @article.cover_image.url if @article.has_cover_image? %>
		    <%= raw @article.body %>
		</p>
		<% unless @article.tags.blank? %>
			<div>Tags:
				<% tags = [] %>
			    <% @article.tags.split(",").each do |tag| %>
			        <% tags << link_to(tag, nil) %>
			    <% end %>
			    <%= tags.join(", ").html_safe %>
			</div>
		<% end %>

		<% if can? :update, @article %>
		    <%= link_to "Edit", edit_admin_article_path(@article) %>
		<% end %>
        
		<% if can? :destroy, @article %>
		    <%= form_for([:admin, @article], :method => 'delete') do |f| %>
		        <%= f.submit('delete') %>
		    <% end %>
		<% end %>
	</div>
</div>

<div id="main-right-wrapper">
	<%= render "layouts/latest_news"%>
</div>

