<div id="main-left-wrapper">

<h2><%= t('general.sign_in') %></h2>

<% unless flash[:alert].blank? %>
    <div class="alert alert-error">
        <%= flash[:alert] %>
    </div>
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
    <%= f.label t('fields.email') %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label t('fields.password') %>
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label t('general.remember_me') %></div>
  <% end -%>

  <div><%= f.submit t('general.sign_in') %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>


<div id="main-right-wrapper">
    
	<%= render "layouts/latest_news"%>
    
</div>