<div id="footer-wrapper">
  <div id="footer-links-wrapper">
    <!--
    <div class="footer-links-container">
      <h4>Einfach wie 1-2-3</h4>
      <p>Formular ausfüllen und innerhalb von 2 Tagen 3 Offerten für Ihr Bauvorhaben von den am besten passenden Architekten Ihrer Region erhalten.</p>
    </div>

    <div class="footer-links-container">
      <h4>Kostenlose Betreuung</h4>
      <p>Wir beraten Sie gerne kostenlos telefonisch, per Chat oder EMail bei der Formulierung Ihres Bauprojekts, und begleiten Sie auch bei dem gesamten nachfolgenden Prozess.</p>
    </div>

    <div class="footer-links-container">
      <h4>Detaillierte Profile</h4>
      <p>Auf unserer Seite sind bereits über 100 Schweizer Architekten gelistet, mit detaillierten Infos und Angaben zu Spezialgebieten, Portfolios und vielem mehr.</p>
    </div>

    <div class="footer-links-container">
      <h4>Global Vernetzt</h4>
      <p>Unsere Seite ist Teil eines ständig wachsenden Netzwerks von regionalen Firmenportalen. Eine einmalige Anmeldung reicht und Sie können alle unsere Seiten direkt unbegrenzt und kostenlos nutzen.</p>
    </div>
    -->

    <div class="footer-links-container">
      <h4>Firma</h4>
      <ul>
        <li>
            <%= link_to t('about_page.title'), about_path %>
        </li>
        <li><a href="/kontakt">Kontakt</a></li>
        <li>
            <%= link_to t('jobs_page.title'), jobs_path %>
        </li>
      </ul>
    </div>

    <div class="footer-links-container">
      <h4>Datenschutz</h4>
      <ul>
        <li>
            <%= link_to t('privacy_page.title'), privacy_path %>
        </li>
        <li>
            <%= link_to t('terms_page.title'), terms_path %>
        </li>
        <li>
            <%= link_to t('sitemap_page.title'), sitemap_path %>
        </li>     
        <li>
            <%= link_to t('impressum_page.title'), impressum_path %>
        </li>     
        
      </ul>
    </div>

    <div class="footer-links-container">
      <h4>Ressourcen</h4>
      <ul>
        <li><%= link_to "Artikel", infos_path %></li>     
      </ul>
    </div>

    <div class="footer-links-container">
      <h4>Social</h4>
      <ul>
        <li>
          <a href="https://www.facebook.com/comparendo" target="_blank" class="fb"> <span></span> Facebook</a>
        </li>
        <li>
          <a href="https://twitter.com/comparendo" target="_blank" class="tw"><span></span>Twitter</a>
        </li>
        <li>
          <a href="#" target="_blank" class="gg"><span></span>Google</a>
        </li>
        <!-- https://plus.google.com/u/0/105087014953825766036 - GA-->
      </ul>
    </div>

    <div class="clr"></div>

  </div>
</div>
